<%
=begin
  This is a template for generating a complete HTML web page.

  The following variables are available for use in this template:
  * BLOG        - data from the blog configuration file
  * LANG        - data from the translation file
  * ABOUT_PAGE  - the blog entry corresponding to the about page
  * SEARCH_PAGE - the blog entry corresponding to the search page
  * ENTRIES     - array of all blog entries (Entry objects)
  * TAGS        - array of all tags (Section objects)
  * ARCHIVES    - array of all archives (Section objects)
  * FEEDS       - array of all feeds (Feed objects)
  * @target     - object for which we are generating HTML
  * @title      - title for the HTML page we are generating
  * @content    - body for the HTML page we are generating

  NOTE that the "display: none" stuff in this template is meant to improve
  the readability and usability of this web page in text-only web browsers.
=end

  ##
  # local variables for this template
  #

  blog_name = BLOG.name
  blog_name_html = blog_name.to_inline_html

  blog_info = BLOG.info
  blog_info_html = blog_info.to_inline_html

  blog_author = BLOG.author
  blog_author_html = blog_author.to_inline_html

  ##
  # Navigational hints (things which aid navigation)
  #

  unless defined? Nav
    Nav = Struct.new(:rel, :title, :href)

    # A navigational hint; used for creating navigation menus.
    class Nav
      # Proper order of relations for insertion in a GUI.
      RELATION_ORDER = [:first, :prev, :up, :next, :last].freeze

      # Iterates through all relations in proper insertion order.
      def self.each_rel &blk
        RELATION_ORDER.each(&blk)
      end

      LABEL_BY_RELATION = {
        :first => LANG['First'],
        :prev  => LANG['Previous'],
        :up    => LANG['Up'],
        :next  => LANG['Next'],
        :last  => LANG['Last'],
      }.freeze

      # Returns a human readable label for the given relation.
      def self.rel_label aRel
        LABEL_BY_RELATION[aRel]
      end

      alias real_title title

      # Returns a human readable label for this hint's relation.
      def label
        LABEL_BY_RELATION[self.rel]
      end

      # Returns the real title prefixed with the relation.
      def title
        label + ': ' + real_title
      end

      # Returns HTML code for a <link> element
      # representing this navigational hint.
      def to_head_link
        %{<link rel="#{self.rel}" href="#{self.href}" title="#{self.title}" />}
      end
    end
  end

  # determine the navigational hints for this web page
  @nav_by_rel = {}

  if @target.respond_to? :parent and
     not (@target.hide? if @target.is_a? Entry) # skip hidden entries
  then
    {
      @target => [:prev, :next],
      @target.parent => [:first, :last],
    }.
    each_pair do |obj, rels|
      meths =
        if @target.is_a? Entry
          # these are inverse because ENTRIES is
          # sorted in *reverse* chronological order
          rels.reverse
        else
          rels
        end

      rels.zip(meths).each do |r, m|
        if e = obj.send(m) and not e.equal? @target
          @nav_by_rel[r] = Nav.new(r, e.name, e.url)
        end
      end
    end

    @nav_by_rel[:up] = Nav.new(:up, @target.parent.name, @target.parent_url)
  end
%>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=<%= BLOG.encoding %>" />
    <meta http-equiv="content-language" content="<%= BLOG.language %>" />
    <meta name="description" content="<%= h(
      if @target.is_a? Entry and summary = @target.summary
        summary
      else
        blog_info_html
      end
    ) %>" />
    <% if @target.is_a? Entry and not @target.tags.empty? %>
      <meta name="keywords" content="<%= @target.tags.map {|t| t.name}.join(', ') %>" />
    <% end %>
    <meta name="date" content="<%= Time.now.rfc822 %>" />
    <meta name="author" content="<%= blog_author %>" />
    <meta name="generator" content="<%= Rassmalog %>" />
    <meta name="google-site-verification" content="opWq9H2bAcHJW8ENL-xvcgc-Lli90ZtVfIxJ88oHUGc" />

    <link rel="stylesheet" type="text/css" href="styles/EliteCircle.css"/>

    <% FEEDS.each do |feed| %>
      <link rel="alternate" type="application/rss+xml" href="<%= feed.file %>" title="<%=h feed.name %>" />
    <% end %>

    <%# emit navigational hints for this web page %>
    <% Nav.each_rel do |rel| %>
      <%=
        if nav = @nav_by_rel[rel]
          nav.to_head_link
        end
      %>
    <% end %>

    <title><%= @title.to_inline_html %> &mdash; <%= blog_name_html %></title>
  </head>
  <body>

      <div id="header-wrap">
      <div id="header-content">
      <h1 id="logo">
      <a title="" href="index.html">
      Asteri<span class="orange">sell</span>
      </a>
      </h1>
      <h2 id="slogan"><%= BLOG.info.to_html %></h2>
      </div>
      </div>
      
      <div id="content-wrap">
      <div id="content">

      <div id="main">
      <%= @content %>
      </div>

      <div id="sidebar">
      <h1>Pages :</h1>
      <ul class="sidemenu">
      <li><a href="index.html">News</a></li>
      <li><a href="index.html#overview">Description</a></li>
      <li><a href="downloads.html">Downloads</a></li>
      <li><a href="installation.html">Installation</a></li>
      <li><a href="http://groups.google.it/group/asterisell">Forum</a></li>
      <li><a href="development.html">Development</a></li>
      <li><a href="paid-support.html">Donations</a><li>
      <li><a href="archives.html">News Archive</a></li>
      </ul>
      
      <h1>Notifications:</h1>
      <ul class="sidemenu">
      <li><a href="http://freshmeat.net/projects/asterisell/">freshmeat.net</a></li>
      
            <li><a href="http://asterisell.profitoss.com/rss.xml" title="Subscribe to my feed"><img src="/feed-icon.gif" style="border:0"/></a>
</li><li><a title='Subscribe to my feed' href="http://asterisell.profitoss.com/rss.xml" style='text-decoration:none;'><span style='border:1px solid;border-color:#FC9 #630 #330 #F96;padding:0 3px;font:bold 10px verdana,sans-serif;color:#FFF;background:#F60;margin:0;'>XML</span></a>
</li><li><a href="http://fusion.google.com/add?feedurl=http://asterisell.profitoss.com/rss.xml"><img src="http://gmodules.com/ig/images/plus_google.gif" alt="Google Reader or Homepage" border="0"></a>
</li><li><a href="http://add.my.yahoo.com/rss?url=http://asterisell.profitoss.com/rss.xml"><img src="http://us.i1.yimg.com/us.yimg.com/i/us/my/addtomyyahoo4.gif" border="0" alt="Add to My Yahoo!"></a>
</li><li><a href="http://www.bloglines.com/sub/http://asterisell.profitoss.com/rss.xml"><img src="http://www.bloglines.com/images/sub_modern9.gif" alt="Subscribe with Bloglines" border="0" /></a>
</li><li><a href="http://www.newsgator.com/ngs/subscriber/subext.aspx?url=http://asterisell.profitoss.com/rss.xml"><img src="http://www.newsgator.com/images/ngsub1.gif" alt="Subscribe in NewsGator Online" border="0"></a> 
</li><li><a href="http://my.msn.com/addtomymsn.armx?id=rss&ut=http://asterisell.profitoss.com/rss.xml&ru=http://asterisell.profitoss.com"><img src="http://sc.msn.com/44/G,UCH%7BZBSS3%7BOS%7BSE469LG.gif" border="0"></a>
</li><li><a href="http://feeds.my.aol.com/add.jsp?url=http://asterisell.profitoss.com/rss.xml"><img src="http://myfeeds.aolcdn.com/vis/myaol_cta1.gif" alt="Add to My AOL" border="0"/></a>
</li><li><a href="http://rss2pdf.com?url=http://asterisell.profitoss.com/rss.xml"> <img src="http://rss2pdf.com/images/rss2pdf.png" alt="Convert RSS to PDF" border="0"/></a>
</li><li><a href="http://technorati.com/faves?add=http://asterisell.profitoss.com"><img src="http://static.technorati.com/pix/fave/tech-fav-5.gif" alt="Add to Technorati Favorites!" border="0"/></a>
</li><li><a href="http://www.live.com/?add=http://asterisell.profitoss.com/rss.xml"><img style="width: 92px; height: 17px;" src="http://tkfiles.storage.msn.com/x1pHd9OYNP16fmmfqJHji7qY0yYomKrFzGROBps3O6qHF0JRlVV8xH6X4cfsptw0fftk5oJYFpTKP6I-i91-se8TaoO7R9oiPVoxDEG_LEZW_XhegHxASvHJYsSxNjf526t" border="0"></a>
</li><div style="font:9px Verdana, Arial, Helvetica, sans-serif; width:100px;"><a href="http://www.toprankblog.com/tools/rss-buttons/" >Get RSS Buttons</a></div>
 
       </ul>

      <!-- Start Bravenet.com Service Code -->
      <div align="center">
      <div style="border:1px solid #999999; width:190px; margin: 0px; background-color:#F2F4FA;">
      <form action="http://pub2.bravenet.com/elist/add.php" method="post" style="margin:0px;">
      <div style="background-color:#DBE0F5; padding:3px; font:12px arial; color:#6C6E3A;"><b>Join the Mailing List</b></div>
      <div style="margin:10px; font: 11px arial; color: #000000; text-align:left;">
      <div style="margin-bottom:5px;">Enter your name and email address below:</div>
      <div style="text-align:right;">Name: <input type="text" id="elistname" name="ename" size="25" maxlength="60" style="width: 125px"><br>
Email: <input type="text" name="emailaddress" id="elistaddress449897342" size="25" maxlength="100" style="width: 125px"><br>
      <span style="white-space:nowrap;"><input type="radio" name="action" value="join" checked style="border: 0px;">Subscribe </span>
      <span style="white-space:nowrap;"><input type="radio" name="action" value="leave" style="border: 0px;">Unsubscribe </span>
      <input type="hidden" name="usernum" style="border: 0px solid black; height: 0px; width: 0px;" value="139540231"><input type="hidden" name="cpv"  style="border: 0px solid black; height: 0px; width: 0px;"  value="1">
      <input type="submit" name="submit" value="GO"></div></div>
      <div style="color: red" id="elist_err449897342"></div>
      <div align="center" style="margin-bottom:10px;"><a title="Free Mailing Lists from Bravenet.com" href="http://www.bravenet.com/webtools/elist/" style="font: bold 11px tahoma, sans-serif; color: #6C6E3A;" target="_blank">Get your Free Mailing List</a><br><a title="Free Mailing Lists from Bravenet.com" href="http://www.bravenet.com" style="font: 10px tahoma, sans-serif; color: #6C6E3A;" target="_blank">by Bravenet.com</a></div></form>
      </div></div>
      <!-- End Bravenet.com Service Code -->
      
      </div>
      </div>
      </div>
    <%#
      ensure that a horizontal rule is present to
      separate the above content from the stuff below it
    %>
    <% if @content !~ %r{<hr.*?>(</.*?>|<[^/].*?/>|.)*\z}m %>
      <br style="display: none"/>
      <hr style="display: none"/>
    <% end %>

    <div id="footer-wrap">
    <div id="footer-content">
    <span id="footer-left">
    Website design adapted from <a href="http://www.styleshout.com">styleshout</a> and generated from <%= Rassmalog.to_link %><br/>Copyright (C) 2007-2009 by <A HREF="mailto:asterisellinfo@profitoss.com">Massimo Zaniboni</A>
    </span>
    </div>  
    </div>
        <!-- Support for Google Analytics -->
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-3624268-5");
pageTracker._trackPageview();
} catch(err) {}</script>
      
  </body>
</html>
